.card {
    max-width: 400px;
}

.header-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQD5aps5s9DAIyA0Hs8lxqUlIsmprjkpAxY9sizW8jqigAh5Mro&usqp=CAU");
    background-size: cover;
}
